<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <title>Hello - Rust</title>
    <meta name="description" content="Hello world Rust web server" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <style>
      h1 {
        font-family: sans-serif;
      }
    </style>
    <script type="module">
      const count = document.querySelector("#count");
      const socket = new WebSocket("/events");
      socket.onopen = (event) => {
        console.log("Connected");
      };
      socket.onclose = (event) => {
        console.log("Disconnected");
      };
      socket.onerror = (event) => {
        console.error("Disconnected");
      };
      socket.onmessage = (event) => {
        console.log("Message from server ", event.data);
        count.textContent = event.data.toString();
      };
    </script>
  </head>
  <body>
    <main>
      <h1>Receiver</h1>
      <p>Count: <span id="count">0</span></p>
    </main>
  </body>
</html>
